<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>wtfssd Monitor</string>
    <key>CFBundleIdentifier</key>
    <string>com.wtfssd.menubar</string>
    <key>CFBundleVersion</key>
    <string>0.4.0</string>
    <key>CFBundleExecutable</key>
    <string>wtfssd-menubar</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>LSUIElement</key>
    <true/>
    <key>WTFSSDRepoRoot</key>
    <string>REPO_ROOT_PLACEHOLDER</string>
</dict>
</plist>
